@model DocumentFilesField

<div id="@Model.Id">
    <table id="Documents_FileTable" class="table table-striped table-bordered">
    @for(int i = 0; i < Model.Files.Count(); ++i)
    {
        <tr id="DocumentFiles_rows">
            <td style="width: 100%">@Model.Files.ElementAt(i).Name</td>
            <td class="documentFile_Delete text-center mx-1"><a href=#><i class="fa fa-trash"></i></a></td>
            <td class="documentFile_Download text-center mx-1"><a href=#><i class="fa fa-download"></i></a></td>
            <td class="documentFile_MoveUp text-center mx-1"><a href=#><i class="fa fa-arrow-up"></i></a></td>
            <td class="documentFile_MoveDown text-center mx-1"><a href="#"><i class="fa fa-arrow-down"></i></a></td>
        </tr>
    }
    </table>
</div>