@model JobApplicationSpam.Models.InputField

<div class="form-group">
    <label class="" for="@Model.Id"><b>@Model.LabelText</b></label>
    <input id="@Model.Id" class="form-control inputField" type="text" />
</div>