@model JobApplicationSpam.Models.TextareaField

<div class="form-group">
    <label for="@Model.Id"><b>@Model.LabelText</b></label>
    <textarea id="@Model.Id" class="form-control" style="min-height: @Model.Height"></textarea>
</div>