@model AccountModel
@{
    Layout = "_Layout";
}

<h1>Change password</h1>
<form asp-controller="Account" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="Password">New password</label>
        <input asp-for="Password " class="form-control" type="text">
    </div>
    <button class="btn btn-success" type="submit">Change password</button>
    <div class="text-danger py-2">@ViewBag.Message</div>
</form>