@model AccountModel
@{
    Layout = "_Layout";
}

<h1>Forgot password</h1>
<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email " class="form-control" type="text">
    </div>
    <button class="btn btn-success" type="submit">Send an email to you to generate a new password</button>
    <div class="text-danger py-2">@ViewBag.Message</div>
</form>